.formContainer {
  text-align: center;
  min-height: calc(100vh - 421.5px);
}

form {
 display: flex;
 flex-direction: column;
 gap: 20px;
 max-width: 400px;
 margin: 2rem auto;
}

select, input {
  height: 57.09px;
  border-radius: 10px;
  padding: 0 10px;
}

label {
  font-weight: bold;
}