button {
  background-color: #57495e;
  padding: 0.8rem 0.5rem;
  border-radius: 10px;
  border-color: #f4cd14;
  border-style: solid;
  color: #f4cd14;
  font-size: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
}

button:disabled {
  background-color: #727272;
  cursor: not-allowed;
}
